page-lottery {



}


// .border-left{
//     border-left: 1px;
//     border-style: solid;
// }

.card-height{
    min-height: 10% !important;
    
    background-color: rgba(255, 0, 0, 0.2);
    
}

.font-weight-card-inside-h4{
    font-weight: bold !important;
    color: #c57878;
    margin: 5% !important;
}