<ion-menu [content]="sidebarcontent" id="sideMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item [ngClass]="(activePage == 'Dashboard') ? 'activeHightlight' : ''" (click)="openPage('Dashboard', false)">
       Dashboard
      </button>

      <button ion-item (click)="toggleSubMenu('Pricebook')">
       Pricebook <ion-icon *ngIf="!togglePricebookSubMenu" name="ios-arrow-forward" class='mrL5 pull-right'></ion-icon> <ion-icon *ngIf="togglePricebookSubMenu" name="ios-arrow-down" class='mrL5 pull-right'></ion-icon>
      </button>
      <ion-list class="sub-menus-list" [class.hide]="!togglePricebookSubMenu">
        <button menuClose ion-item [ngClass]="(activePage == 'AddItemPage') ? 'activeHightlight' : ''" (click)="openPage('AddItemPage', false); toggleSubMenu('Pricebook');">
          Add Item
        </button>
        <button menuClose ion-item [ngClass]="(activePage == 'PricebookPage') ? 'activeHightlight' : ''" (click)="openPage('PricebookPage', false); toggleSubMenu('Pricebook')">
          Update Price
        </button>
      </ion-list>

      <button ion-item (click)="toggleSubMenu('Lottery')">
       Lottery <ion-icon *ngIf="!toggleLotterySubMenu" name="ios-arrow-forward" class='mrL5 pull-right'></ion-icon> <ion-icon *ngIf="toggleLotterySubMenu" name="ios-arrow-down" class='mrL5 pull-right'></ion-icon>
      </button>
      <ion-list class="sub-menus-list" [class.hide]="!toggleLotterySubMenu">
        <button menuClose ion-item [ngClass]="(activePage == 'ConfirmPackPage') ? 'activeHightlight' : ''" (click)="openPage('ConfirmPackPage', true); toggleSubMenu('Lottery')">
          Confirm Pack 
        </button>
        <button menuClose ion-item [ngClass]="(activePage == 'ActivatePackPage') ? 'activeHightlight' : ''" (click)="openPage('ActivatePackPage', true); toggleSubMenu('Lottery')">
          Activate Pack 
        </button>
        <button menuClose ion-item [ngClass]="(activePage == 'EnterPackPage') ? 'activeHightlight' : ''" (click)="openPage('EnterPackPage', true); toggleSubMenu('Lottery')">
          Enter Daily Reading 
        </button>
        <button menuClose ion-item [ngClass]="(activePage == 'ScatchOffReportPage') ? 'activeHightlight' : ''" (click)="openPage('ScatchOffReportPage', true); toggleSubMenu('Lottery')">
          Scatch Off Report 
        </button>
      </ion-list>
      <button menuClose ion-item (click)="logout()">
         Logout
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #sidebarcontent [root]="rootPage"></ion-nav>